html
    head
        block head
            title= blog.name
        style
            include css/style.css
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
    body
        block header
            h1(class='header')
                a(href='/')= blog.name
        div(class='wrapper')
            block content
                ul(class='posts-list')
                    each post in posts
                        li
                            span(class='post-id') #!{post.metadata.id}
                            a(href=post.metadata.id)= post.metadata.title
                            br
                            span(class='post-date')= post.metadata.date
            hr    
            block footer
                p 
                    span !{blog.footerText} // 
                    a(href="http://github.com/subiabre/blog") GitHub
                    
