extends index.pug

block head
    title= post.metadata.title
    
    // highlight.js
    link(rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/styles/atom-one-dark.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/highlight.min.js")
    script hljs.initHighlightingOnLoad()

block content
    h1= post.metadata.title
    span(class='post-date')= post.metadata.date

    div(class='post-content') !{post.content}

    hr
    p !{blog.footerText} // 
        a(href='#top') Back to top.
